/*#region FONT-FACES*/

@font-face {
    font-family: 'p22';
    src: url('../../fonts/p22-underground-webfont.eot');
    src: url('../../fonts/p22-underground-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/p22-underground-webfont.woff2') format('woff2'),
         url('../../fonts/p22-underground-webfont.woff') format('woff'),
         url('../../fonts/p22-underground-webfont.ttf') format('truetype'),
         url('../../fonts/p22-underground-webfont.svg#p22_undergroundregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'slim_joeregular';
    src: url('../../fonts/slim_joe-webfont.eot');
    src: url('../../fonts/slim_joe-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/slim_joe-webfont.woff2') format('woff2'),
         url('../../fonts/slim_joe-webfont.woff') format('woff'),
         url('../../fonts/slim_joe-webfont.ttf') format('truetype'),
         url('../../fonts/slim_joe-webfont.svg#slim_joeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*#endregion*/



@font-face {
    font-family: 'euclid_flexbold';
    src: url('../../fonts/euclidflex-bold-webfont.eot');
    src: url('../../fonts/euclidflex-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/euclidflex-bold-webfont.woff2') format('woff2'),
         url('../../fonts/euclidflex-bold-webfont.woff') format('woff'),
         url('../../fonts/euclidflex-bold-webfont.ttf') format('truetype'),
         url('../../fonts/euclidflex-bold-webfont.svg#euclid_flexbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'euclid_flexlight';
    src: url('../../fonts/euclidflex-light-webfont.eot');
    src: url('../../fonts/euclidflex-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/euclidflex-light-webfont.woff2') format('woff2'),
         url('../../fonts/euclidflex-light-webfont.woff') format('woff'),
         url('../../fonts/euclidflex-light-webfont.ttf') format('truetype'),
         url('../../fonts/euclidflex-light-webfont.svg#euclid_flexlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'euclid_flexmedium';
    src: url('../../fonts/euclidflex-medium-webfont.eot');
    src: url('../../fonts/euclidflex-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/euclidflex-medium-webfont.woff2') format('woff2'),
         url('../../fonts/euclidflex-medium-webfont.woff') format('woff'),
         url('../../fonts/euclidflex-medium-webfont.ttf') format('truetype'),
         url('../../fonts/euclidflex-medium-webfont.svg#euclid_flexmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'euclid_flexregular';
    src: url('../../fonts/euclidflex-regular-webfont.eot');
    src: url('../../fonts/euclidflex-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/euclidflex-regular-webfont.woff2') format('woff2'),
         url('../../fonts/euclidflex-regular-webfont.woff') format('woff'),
         url('../../fonts/euclidflex-regular-webfont.ttf') format('truetype'),
         url('../../fonts/euclidflex-regular-webfont.svg#euclid_flexregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'villageregular';
    src: url('../../fonts/village-webfont.eot');
    src: url('../../fonts/village-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/village-webfont.woff2') format('woff2'),
         url('../../fonts/village-webfont.woff') format('woff'),
         url('../../fonts/village-webfont.ttf') format('truetype'),
         url('../../fonts/village-webfont.svg#villageregular') format('svg');
    font-weight: normal;
    font-style: normal;

}